/* ==============================
   GLOBAL APP STYLES
================================ */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* ==============================
   CONTINUOUS BACKGROUND
================================ */

body {
  background: linear-gradient(
    -45deg,
    #091215,
    #12252b,
    #060f12,
    #06141b
  );
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;

  color: rgb(255, 246, 246);
}

/* ==============================
   APP CONTAINER
================================ */

.App {
  width: 100%;
  min-height: 100vh;
}

/* ==============================
   BACKGROUND ANIMATION
================================ */

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 90px; /* height of navbar */
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.Heroclass {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

